.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
    background-color: #CF682F !important;
    color: white;
}
.app-sidenav-content {
    padding: 30px;
}

.app-nav {
    background-color: #CF682F;
    color: white;
}